# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\谷歌下载\BERM-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
